<a href="https://colab.research.google.com/github/extrajp2014/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/DS_Unit_1_Sprint_Challenge_2_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Data Wrangling

In this Sprint Challenge you will use data from [Gapminder](https://www.gapminder.org/about-gapminder/), a Swedish non-profit co-founded by Hans Rosling. "Gapminder produces free teaching resources making the world understandable based on reliable statistics."
- [Cell phones (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv)
- [Population (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv)
- [Geo country codes](https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv)

These two links have everything you need to successfully complete the Sprint Challenge!
- [Pandas documentation: Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/text.html]) (one question)
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) (everything else)

## Part 0. Load data

You don't need to add or change anything here. Just run this cell and it loads the data for you, into three dataframes.

In [0]:
import pandas as pd

cell_phones = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv')

population = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv')

geo_country_codes = (pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')
                       .rename(columns={'country': 'geo', 'name': 'country'}))

## Part 1. Join data

First, join the `cell_phones` and `population` dataframes (with an inner join on `geo` and `time`).

The resulting dataframe's shape should be: (8590, 4)

In [2]:
df1=cell_phones
df2=population
df3=geo_country_codes
print(cell_phones.head())
print(population.head())

   geo  time  cell_phones_total
0  abw  1960                0.0
1  abw  1965                0.0
2  abw  1970                0.0
3  abw  1975                0.0
4  abw  1976                0.0
   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000
3  afg  1803           3280000
4  afg  1804           3280000

In [3]:
# Join data
# df1=cell_phones
# df2=population
# df3=geo_country_codes
merged=df1.merge(df2, on=['geo', 'time'], how='inner')
print(merged.shape)
merged.head()

(8590, 4)

   geo  time  cell_phones_total  population_total
0  afg  1960                0.0           8996351
1  afg  1965                0.0           9938414
2  afg  1970                0.0          11126123
3  afg  1975                0.0          12590286
4  afg  1976                0.0          12840299

Then, select the `geo` and `country` columns from the `geo_country_codes` dataframe, and join with your population and cell phone data.

The resulting dataframe's shape should be: (8590, 5)

In [4]:
# df1=cell_phones
# df2=population
# df3=geo_country_codes
columns = ['geo', 'country']
final=merged.merge(df3[columns], on='geo', how='inner')
print(final.shape)
final.head()

(8590, 5)

   geo  time  cell_phones_total  population_total      country
0  afg  1960                0.0           8996351  Afghanistan
1  afg  1965                0.0           9938414  Afghanistan
2  afg  1970                0.0          11126123  Afghanistan
3  afg  1975                0.0          12590286  Afghanistan
4  afg  1976                0.0          12840299  Afghanistan

In [38]:
df=final
import numpy as np
def all_numeric(df):
  return all((df.dtypes==np.number) | (df.dtypes==bool))

def no_nulls(df):
  return not any(df.isnull().sum())

def ready_for_sklearn(df):
  return all_numeric(df) and no_nulls(df)

print(all_numeric(df), ready_for_sklearn(df), no_nulls(df),final.isnull().sum().sum())

False False True 0

## Part 2. Make features

Calculate the number of cell phones per person, and add this column onto your dataframe.

(You've calculated correctly if you get 1.220 cell phones per person in the United States in 2017.)

In [5]:
final.dtypes

geo                   object
time                   int64
cell_phones_total    float64
population_total       int64
country               object
dtype: object

In [0]:
# df=final
# df1=cell_phones
# df2=population
# df3=geo_country_codes
# Calculate the number of cell phones per person, and add this column onto your dataframe.
# (You've calculated correctly if you get 1.220 cell phones per person in the United States in 2017.)

final['Cell Phones Per Person'] = final.cell_phones_total / final.population_total

In [22]:
pd.set_option('display.max_rows', 500)
final.sort_values(by='country').tail(400)

      geo  time  cell_phones_total  population_total        country  Cell Phones Per Person
8130  usa  2013        310698000.0         315536676  United States                0.984665
8120  usa  2003        160637000.0         290027624  United States                0.553868
8132  usa  2015        382307000.0         319929162  United States                1.194974
8133  usa  2016        395881000.0         322179605  United States                1.228759
8134  usa  2017        395881000.0         324459463  United States                1.220125
8128  usa  2011        297404000.0         311051373  United States                0.956125
8118  usa  2001        128500000.0         284852391  United States                0.451111
8092  usa  1960                0.0         186808228  United States                0.000000
8094  usa  1970                0.0         209588150  United States                0.000000
8116  usa  1999         86047003.0         278862277  United States                0.308565
8115  usa  1998         69209321.0         275542603  United States                0.251175
8114  usa  1997         55312293.0         272136551  United States                0.203252
8113  usa  1996         44042992.0         268803424  United States                0.163848
8112  usa  1995         33785661.0         265658849  United States                0.127177
8111  usa  1994         24134421.0         262741566  United States                0.091856
8110  usa  1993         16009461.0         260020186  United States                0.061570
8109  usa  1992         11032753.0         257454273  United States                0.042853
8108  usa  1991          7557148.0         254974819  United States                0.029639
8107  usa  1990          5283055.0         252529950  United States                0.020921
8106  usa  1989          3508944.0         250113187  United States                0.014029
8119  usa  2002        141800000.0         287506847  United States                0.493206
8104  usa  1987          1230855.0         245402864  United States                0.005016
8103  usa  1986           681825.0         243098935  United States                0.002805
8102  usa  1985           340213.0         240824120  United States                0.001413
8101  usa  1984            91600.0         238573861  United States                0.000384
8100  usa  1980                0.0         229763052  United States                0.000000
8099  usa  1979                0.0         227599878  United States                0.000000
8098  usa  1978                0.0         225449657  United States                0.000000
8097  usa  1977                0.0         223324042  United States                0.000000
8096  usa  1976                0.0         221239215  United States                0.000000
8095  usa  1975                0.0         219205296  United States                0.000000
8093  usa  1965                0.0         199815540  United States                0.000000
8105  usa  1988          2069441.0         247739582  United States                0.008353
8067  ury  1993             4969.0           3178155        Uruguay                0.001563
8068  ury  1994             6825.0           3201607        Uruguay                0.002132
8047  ury  1965                0.0           2694537        Uruguay                0.000000
8091  ury  2017          5097569.0           3456750        Uruguay                1.474671
8054  ury  1980                0.0           2915778        Uruguay                0.000000
8066  ury  1992             1712.0           3154855        Uruguay                0.000543
8065  ury  1991                0.0           3132050        Uruguay                0.000000
8064  ury  1990                0.0           3109989        Uruguay                0.000000
8063  ury  1989                0.0           3088984        Uruguay                0.000000
8062  ury  1988                0.0           3069099        Uruguay                0.000000
8061  ury  1987                0.0           3049966        Uruguay                0.000000
8060  ury  1986                0.0           3031038        Uruguay                0.000000
8059  ury  1985                0.0           3011908        Uruguay                0.000000
8058  ury  1984                0.0           2992645        Uruguay                0.000000
8057  ury  1983                0.0           2973463        Uruguay                0.000000
8046  ury  1960                0.0           2538651        Uruguay                0.000000
8056  ury  1982                0.0           2954282        Uruguay                0.000000
8049  ury  1975                0.0           2830172        Uruguay                0.000000
8050  ury  1976                0.0           2841429        Uruguay                0.000000
8051  ury  1977                0.0           2857105        Uruguay                0.000000
8052  ury  1978                0.0           2875966        Uruguay                0.000000
8053  ury  1979                0.0           2896023        Uruguay                0.000000
8090  ury  2016          5116736.0           3444006        Uruguay                1.485693
8089  ury  2015          5165474.0           3431552        Uruguay                1.505288
8055  ury  1981                0.0           2935036        Uruguay                0.000000
8087  ury  2013          5267947.0           3408005        Uruguay                1.545757
8069  ury  1995            39904.0           3224804        Uruguay                0.012374
8070  ury  1996            78601.0           3248035        Uruguay                0.024200
8071  ury  1997            99235.0           3271010        Uruguay                0.030338
8072  ury  1998           151341.0           3292138        Uruguay                0.045970
8073  ury  1999           319131.0           3309318        Uruguay                0.096434
8074  ury  2000           410787.0           3321245        Uruguay                0.123685
8075  ury  2001           519991.0           3327103        Uruguay                0.156289
8076  ury  2002           513528.0           3327773        Uruguay                0.154316
8077  ury  2003           497530.0           3325637        Uruguay                0.149604
8078  ury  2004           599768.0           3324096        Uruguay                0.180430
8079  ury  2005          1154923.0           3325612        Uruguay                0.347281
8048  ury  1970                0.0           2809803        Uruguay                0.000000
8080  ury  2006          2330011.0           3331043        Uruguay                0.699484
8088  ury  2014          5497094.0           3419546        Uruguay                1.607551
8081  ury  2007          3004323.0           3339741        Uruguay                0.899568
8083  ury  2009          4111560.0           3362755        Uruguay                1.222676
8084  ury  2010          4437158.0           3374415        Uruguay                1.314941
8085  ury  2011          4757425.0           3385624        Uruguay                1.405184
8086  ury  2012          4995459.0           3396777        Uruguay                1.470647
8082  ury  2008          3507816.0           3350824        Uruguay                1.046852
8157  uzb  1994              902.0          22407158     Uzbekistan                0.000040
8158  uzb  1995             3731.0          22863264     Uzbekistan                0.000163
8159  uzb  1996             9510.0          23298911     Uzbekistan                0.000408
8160  uzb  1997            17232.0          23715490     Uzbekistan                0.000727
8161  uzb  1998            26826.0          24112410     Uzbekistan                0.001113
8162  uzb  1999            40389.0          24489769     Uzbekistan                0.001649
8163  uzb  2000            53128.0          24848920     Uzbekistan                0.002138
8164  uzb  2001           128012.0          25188527     Uzbekistan                0.005082
8166  uzb  2003           320815.0          25830659     Uzbekistan                0.012420
8165  uzb  2002           186900.0          25511876     Uzbekistan                0.007326
8148  uzb  1985                0.0          18108300     Uzbekistan                0.000000
8154  uzb  1991                0.0          20951391     Uzbekistan                0.000000
8135  uzb  1960                0.0           8549493     Uzbekistan                0.000000
8136  uzb  1965                0.0          10143740     Uzbekistan                0.000000
8137  uzb  1970                0.0          12110028     Uzbekistan                0.000000
8138  uzb  1975                0.0          13892638     Uzbekistan                0.000000
8139  uzb  1976                0.0          14279120     Uzbekistan                0.000000
8140  uzb  1977                0.0          14681459     Uzbekistan                0.000000
8141  uzb  1978                0.0          15096012     Uzbekistan                0.000000
8142  uzb  1979                0.0          15516862     Uzbekistan                0.000000
8143  uzb  1980                0.0          15939744     Uzbekistan                0.000000
8144  uzb  1981                0.0          16363562     Uzbekistan                0.000000
8145  uzb  1982                0.0          16790069     Uzbekistan                0.000000
8146  uzb  1983                0.0          17221212     Uzbekistan                0.000000
8147  uzb  1984                0.0          17659975     Uzbekistan                0.000000
8167  uzb  2004           544100.0          26160326     Uzbekistan                0.020799
8149  uzb  1986                0.0          18565477     Uzbekistan                0.000000
8150  uzb  1987                0.0          19029877     Uzbekistan                0.000000
8151  uzb  1988                0.0          19501225     Uzbekistan                0.000000
8152  uzb  1989                0.0          19979127     Uzbekistan                0.000000
8153  uzb  1990                0.0          20462463     Uzbekistan                0.000000
8156  uzb  1993              500.0          21931690     Uzbekistan                0.000023
8168  uzb  2005           720000.0          26512184     Uzbekistan                0.027157
8155  uzb  1992                0.0          21443453     Uzbekistan                0.000000
8170  uzb  2007          5691458.0          27292375     Uzbekistan                0.208537
8171  uzb  2008         12375274.0          27715825     Uzbekistan                0.446506
8172  uzb  2009         16417914.0          28155306     Uzbekistan                0.583120
8173  uzb  2010         20952000.0          28606294     Uzbekistan                0.732426
8174  uzb  2011         25441789.0          29068224     Uzbekistan                0.875244
8175  uzb  2012         20274090.0          29540819     Uzbekistan                0.686308
8176  uzb  2013         21500000.0          30019734     Uzbekistan                0.716196
8177  uzb  2014         21639200.0          30499618     Uzbekistan                0.709491
8178  uzb  2015         21783300.0          30976021     Uzbekistan                0.703231
8179  uzb  2016         23265389.0          31446795     Uzbekistan                0.739833
8180  uzb  2017         24265460.0          31910641     Uzbekistan                0.760419
8169  uzb  2006          2530365.0          26890263     Uzbekistan                0.094100
8349  vut  2003             7800.0            198964        Vanuatu                0.039203
8348  vut  2002             4900.0            193956        Vanuatu                0.025263
8347  vut  2001              350.0            189290        Vanuatu                0.001849
8346  vut  2000              365.0            185063        Vanuatu                0.001972
8341  vut  1995              121.0            168235        Vanuatu                0.000719
8344  vut  1998              220.0            178078        Vanuatu                0.001235
8343  vut  1997              207.0            174999        Vanuatu                0.001183
8342  vut  1996              154.0            171801        Vanuatu                0.000896
8350  vut  2004            10504.0            204143        Vanuatu                0.051454
8345  vut  1999              300.0            181345        Vanuatu                0.001654
8351  vut  2005            12692.0            209370        Vanuatu                0.060620
8357  vut  2011           136956.0            241871        Vanuatu                0.566236
8353  vut  2007            26000.0            219953        Vanuatu                0.118207
8355  vut  2009           131682.0            230785        Vanuatu                0.570583
8356  vut  2010           169935.0            236295        Vanuatu                0.719165
8340  vut  1994               64.0            164208        Vanuatu                0.000390
8358  vut  2012           146084.0            247485        Vanuatu                0.590274
8359  vut  2013           127244.0            253142        Vanuatu                0.502659
8360  vut  2014           156051.0            258850        Vanuatu                0.602863
8361  vut  2015           174818.0            264603        Vanuatu                0.660680
8362  vut  2016           218603.0            270402        Vanuatu                0.808437
8363  vut  2017           228016.0            276244        Vanuatu                0.825415
8352  vut  2006            15000.0            214634        Vanuatu                0.069886
8339  vut  1993                0.0            159814        Vanuatu                0.000000
8354  vut  2008            36000.0            225340        Vanuatu                0.159759
8337  vut  1991                0.0            150778        Vanuatu                0.000000
8338  vut  1992                0.0            155243        Vanuatu                0.000000
8318  vut  1960                0.0             63699        Vanuatu                0.000000
8319  vut  1965                0.0             74289        Vanuatu                0.000000
8320  vut  1970                0.0             85389        Vanuatu                0.000000
8321  vut  1975                0.0             99872        Vanuatu                0.000000
8322  vut  1976                0.0            103028        Vanuatu                0.000000
8324  vut  1978                0.0            109429        Vanuatu                0.000000
8325  vut  1979                0.0            112580        Vanuatu                0.000000
8326  vut  1980                0.0            115632        Vanuatu                0.000000
8323  vut  1977                0.0            106222        Vanuatu                0.000000
8328  vut  1982                0.0            121435        Vanuatu                0.000000
8329  vut  1983                0.0            124249        Vanuatu                0.000000
8330  vut  1984                0.0            127092        Vanuatu                0.000000
8336  vut  1990                0.0            146634        Vanuatu                0.000000
8331  vut  1985                0.0            130027        Vanuatu                0.000000
8332  vut  1986                0.0            133038        Vanuatu                0.000000
8333  vut  1987                0.0            136125        Vanuatu                0.000000
8334  vut  1988                0.0            139366        Vanuatu                0.000000
8335  vut  1989                0.0            142849        Vanuatu                0.000000
8327  vut  1981                0.0            118580        Vanuatu                0.000000
8240  ven  1986                0.0          17968552      Venezuela                0.000000
8241  ven  1987                0.0          18437794      Venezuela                0.000000
8242  ven  1988             1800.0          18912526      Venezuela                0.000095
8246  ven  1992            78560.0          20799075      Venezuela                0.003777
8244  ven  1990             7422.0          19861956      Venezuela                0.000374
8245  ven  1991            16600.0          20332079      Venezuela                0.000816
8239  ven  1985                0.0          17508059      Venezuela                0.000000
8243  ven  1989             3685.0          19388342      Venezuela                0.000190
8238  ven  1984                0.0          17057785      Venezuela                0.000000
8227  ven  1965                0.0           9824692      Venezuela                0.000000
8235  ven  1981                0.0          15761799      Venezuela                0.000000
8234  ven  1980                0.0          15343916      Venezuela                0.000000
8233  ven  1979                0.0          14931739      Venezuela                0.000000
8232  ven  1978                0.0          14525931      Venezuela                0.000000
8231  ven  1977                0.0          14127787      Venezuela                0.000000
8230  ven  1976                0.0          13739142      Venezuela                0.000000
8229  ven  1975                0.0          13360987      Venezuela                0.000000
8228  ven  1970                0.0          11587761      Venezuela                0.000000
8247  ven  1993           182600.0          21263443      Venezuela                0.008588
8226  ven  1960                0.0           8146847      Venezuela                0.000000
8236  ven  1982                0.0          16185894      Venezuela                0.000000
8248  ven  1994           319000.0          21726352      Venezuela                0.014683
8258  ven  2004          8420980.0          26327225      Venezuela                0.319858
8250  ven  1996           581700.0          22650102      Venezuela                0.025682
8268  ven  2014         30528022.0          30738378      Venezuela                0.993157
8269  ven  2015         29093517.0          31155134      Venezuela                0.933827
8270  ven  2016         27600893.0          31568179      Venezuela                0.874326
8271  ven  2017         24493687.0          31977065      Venezuela                0.765977
8267  ven  2013         30896079.0          30317848      Venezuela                1.019072
8266  ven  2012         30569073.0          29893080      Venezuela                1.022614
8265  ven  2011         28781999.0          29463291      Venezuela                0.976877
8264  ven  2010         27880132.0          29028033      Venezuela                0.960455
8263  ven  2009         28123570.0          28587323      Venezuela                0.983778
8249  ven  1995           403800.0          22188667      Venezuela                0.018198
8262  ven  2008         27414377.0          28141701      Venezuela                0.974155
8260  ven  2006         18789466.0          27239168      Venezuela                0.689796
8259  ven  2005         12495721.0          26784161      Venezuela                0.466534
8257  ven  2003          7015121.0          25868523      Venezuela                0.271184
8256  ven  2002          6541894.0          25408700      Venezuela                0.257467
8255  ven  2001          6472584.0          24948476      Venezuela                0.259438
8254  ven  2000          5447172.0          24488340      Venezuela                0.222439
8253  ven  1999          3784735.0          24028689      Venezuela                0.157509
8252  ven  1998          2009757.0          23569454      Venezuela                0.085270
8251  ven  1997          1071900.0          23110178      Venezuela                0.046382
8261  ven  2007         23820133.0          27691965      Venezuela                0.860182

Modify the `geo` column to make the geo codes uppercase instead of lowercase.

In [32]:
temp = final.geo.str.upper()
type(temp)
final['geo']=temp
final.head()

   geo  time  cell_phones_total  population_total      country  Cell Phones Per Person
0  AFG  1960                0.0           8996351  Afghanistan                     0.0
1  AFG  1965                0.0           9938414  Afghanistan                     0.0
2  AFG  1970                0.0          11126123  Afghanistan                     0.0
3  AFG  1975                0.0          12590286  Afghanistan                     0.0
4  AFG  1976                0.0          12840299  Afghanistan                     0.0

## Part 3. Process data

Use the describe function, to describe your dataframe's numeric columns, and then its non-numeric columns.

(You'll see the time period ranges from 1960 to 2017, and there are 195 unique countries represented.)

In [66]:
# This optional code formats float numbers with comma separators
pd.options.display.float_format = '{:,}'.format
# geo                        object
# time                        int64
# cell_phones_total         float64
# population_total            int64
# country                    object
# Cell Phones Per Person    float64
# dtype: object
final.dtypes

pd.set_option('display.max_columns', 500)
print(final.describe())
print("\n")
print(final.geo.describe())
print("\n")
print(final.country.describe())

                     time    cell_phones_total     population_total  Cell Phones Per Person
count             8,590.0              8,590.0              8,590.0                 8,590.0
mean  1,994.1934807916182  9,004,949.642905472 29,838,230.581722934     0.27963855580591535
std    14.257974607310278 55,734,084.872176506 116,128,377.47477297     0.45424665621404714
min               1,960.0                  0.0              4,433.0                     0.0
25%               1,983.0                  0.0          1,456,148.0                     0.0
50%               1,995.0              6,200.0          5,725,062.5   0.0015636266438163813
75%               2,006.0          1,697,652.0         18,105,812.0      0.4611491855201403
max               2,017.0      1,474,097,000.0      1,409,517,397.0       2.490242818521353


count     8590
unique     195
top        CAN
freq        46
Name: geo, dtype: object


count        8590
unique        195
top       Ukraine
freq           46
Name: country, dtype: object

In 2017, what were the top 5 countries with the most cell phones total?

Your list of countries should have these totals:

| country | cell phones total |
|:-------:|:-----------------:|
|    ?    |     1,474,097,000 |
|    ?    |     1,168,902,277 |
|    ?    |       458,923,202 |
|    ?    |       395,881,000 |
|    ?    |       236,488,548 |

In [67]:
# print(final.sort_values(by='cell_phones_total', ascending=False).head())
top=final[['country','cell_phones_total']].sort_values('cell_phones_total', ascending=False).drop_duplicates(['country'])
print(top.head())

            country  cell_phones_total
1496          China    1,474,097,000.0
3595          India    1,168,902,277.0
3549      Indonesia      458,923,202.0
8134  United States      395,881,000.0
1081         Brazil      280,728,796.0

2017 was the first year that China had more cell phones than people.

What was the first year that the USA had more cell phones than people?

In [86]:
condition = (final.country == 'United States') & (final.cell_phones_total > final.population_total)
temp=final.loc[condition, 'time']
print(type(temp))
print("\n")
print(temp.head())
print("\n")
print("first year that the USA had more cell phones than people")
print(temp.head(1))

<class 'pandas.core.series.Series'>


8131    2014
8132    2015
8133    2016
8134    2017
Name: time, dtype: int64


first year that the USA had more cell phones than people
8131    2014
Name: time, dtype: int64

## Part 4. Reshape data

Create a pivot table:
- Columns: Years 20072017
- Rows: China, India, United States, Indonesia, Brazil (order doesn't matter)
- Values: Cell Phones Total

The table's shape should be: (5, 11)

In [94]:
# Current Variables
# ['pd', 'population', 'df1', 'df2', 'df3', 'merged', 'columns', 'final', 'temp'
#     , 'np', 'df', 'top', 'condition']
# Current df column names
# ['geo', 'time', 'cell_phones_total', 'population_total', 'country', 
#  'Cell Phones Per Person']

final2=final
final2.pivot_table(index='country', 
                   columns='time', 
                   values='cell_phones_total')

time,1960,1965,1970,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"25,000.0","200,000.0","600,000.0","1,200,000.0","2,520,366.0","4,668,096.0","7,898,909.0","10,500,000.0","10,215,840.0","13,797,879.0","15,340,115.0","16,807,156.0","18,407,168.0","19,709,038.0","21,602,982.0","23,929,713.0"
Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"2,300.0","3,300.0","5,600.0","11,008.0","29,791.0","392,650.0","851,000.0","1,100,000.0","1,259,590.0","1,530,244.0","1,909,885.0","2,322,436.0","1,859,632.0","2,463,741.0","2,692,372.0","3,100,000.0","3,500,000.0","3,685,983.0","3,359,654.0","3,400,955.0","3,369,756.0","3,497,950.0"
Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,470.0,"4,781.0","4,781.0","4,781.0","1,348.0","4,691.0","11,700.0","17,400.0","18,000.0","72,000.0","86,000.0","100,000.0","450,244.0","1,446,927.0","4,882,414.0","13,661,355.0","20,997,954.0","27,562,721.0","27,031,472.0","32,729,824.0","32,780,165.0","35,615,926.0","37,527,703.0","39,517,045.0","43,298,174.0","43,227,643.0","47,041,321.0","49,873,389.0"
Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,770.0,780.0,784.0,"2,825.0","5,488.0","8,618.0","14,117.0","20,600.0","23,543.0","29,429.0","32,790.0","51,893.0","58,366.0","64,560.0","69,004.0","63,503.0","64,202.0","64,549.0","65,495.0","65,044.0","63,865.0","63,931.0","66,241.0","71,336.0","76,132.0","80,337.0"
Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"1,100.0","1,824.0","1,994.0","3,298.0","7,052.0","9,820.0","24,000.0","25,806.0","75,000.0","140,000.0","350,000.0","740,000.0","1,611,118.0","3,054,620.0","4,961,536.0","6,773,356.0","8,109,421.0","9,403,365.0","12,073,218.0","12,785,109.0","13,285,198.0","14,052,558.0","13,884,532.0","13,001,124.0","13,323,952.0"
Antigua and Barbuda,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nan,0.0,nan,nan,nan,nan,nan,"1,300.0","1,400.0","1,500.0","8,500.0","22,000.0","25,000.0","38,205.0","46,100.0","54,000.0","86,000.0","110,177.0","112,381.0","136,592.0","134,925.0","167,970.0","176,008.0","127,381.0","114,358.0","120,041.0","176,000.0","180,000.0",nan
Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"2,300.0","12,000.0","25,000.0","46,590.0","112,000.0","241,163.0","405,395.0","667,020.0","2,009,073.0","2,670,862.0","3,848,869.0","6,487,950.0","6,741,791.0","6,566,740.0","7,842,233.0","13,512,383.0","22,156,426.0","31,510,390.0","40,401,771.0","46,508,774.0","52,482,780.0","57,082,298.0","60,722,729.0","64,327,647.0","67,361,515.0","61,234,216.0","61,842,011.0","63,723,692.0","61,897,379.0"
Armenia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,300.0,"5,000.0","7,831.0","8,161.0","17,486.0","25,504.0","71,349.0","114,379.0","203,309.0","318,044.0","1,259,762.0","1,876,411.0","1,442,000.0","2,191,500.0","3,865,354.0","3,211,215.0","3,322,837.0","3,346,275.0","3,459,137.0","3,464,490.0","3,434,567.0","3,488,524.0"
Australia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"4,423.0","31,622.0","94,529.0","184,943.0","291,459.0","497,000.0","690,000.0","1,220,000.0","2,242,000.0","3,990,000.0","4,578,000.0","4,918,000.0","6,315,000.0","8,562,000.0","11,132,000.0","12,670,000.0","14,347,000.0","16,480,000.0","18,420,000.0","19,760,000.0","21,260,000.0","22,120,000.0","22,200,000.0","22,500,000.0","23,789,000.0","24,338,000.0","24,940,000.0","25,060,000.0","25,770,000.0","26,551,000.0","27,553,000.0"
Austria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"9,762.0","19,104.0","26,223.0","36,904.0","50,721.0","73,698.0","115,402.0","172,453.0","220,859.0","278,199.0","383,535.0","598,708.0","1,159,700.0","2,292,900.0","4,250,393.0","6,117,000.0","6,541,000.0","6,736,000.0","7,274,000.0","7,992,000.0","8,665,000.0","9,281,000.0","9,912,000.0","10,816,000.0","11,434,000.0","12,241,000.0","13,022,578.0","13,588,000.0","13,272,000.0","12,952,605.0","13,470,623.0","14,270,000.0","14,924,340.0"
Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,500.0,"6,000.0","17,000.0","40,000.0","65,000.0","370,000.0","420,400.0","730,000.0","794,200.0","1,057,100.0","1,456,523.0","2,242,000.0","3,323,500.0","4,519,000.0","6,548,000.0","7,757,120.0","9,100,113.0","10,120,105.0","10,125,200.0","10,130,102.0","10,552,520.0","10,697,132.0","10,189,000.0","10,127,000.0"
Bahamas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"1,922.0","2,020.0","2,600.0","2,401.0",nan,"4,100.0","4,948.0","6,200.0","8,072.0","15,911.0","31,524.0","60,555.0","121,759.0","122,228.0","186,007.0","227,771.0","252,987.0","373,999.0","358,050.0","358,812.0","428,377.0","298,790.0","300,000.0","287,000.0","314,842.0","311,175.0","360,200.0","353,540.0"
Bahrain,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,618.0,"1,712.0","2,886.0","4,251.0","5,147.0","7,354.0","9,683.0","11,360.0","17,616.0","27,600.0","40,080.0","58,543.0","92,063.0","133,468.0","205,727.0","299,587.0","388,990.0","443,109.0","649,764.0","767,103.0","907,433.0","1,115,979.0","1,440,782.0","1,401,974.0","1,567,000.0","1,693,650.0","2,123,903.0","2,210,190.0","2,328,994.0","2,519,055.0","2,994,865.0","2,364,477.0"
Bangladesh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,250.0,500.0,"1,104.0","2,500.0","4,000.0","26,000.0","75,000.0","149,000.0","279,000.0","520,000.0","1,075,000.0","1,365,000.0","2,781,560.0","9,000,000.0","19,130,983.0","34,370,000.0","44,640,000.0","51,359,315.0","67,923,887.0","84,368,700.0","97,180,000.0","116,553,076.0","126,866,091.0","131,375,724.0","135,981,846.0","145,113,669.0"
Barbados,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,486.0,796.0,"1,560.0","2,967.0","4,614.0","6,283.0","8,013.0","12,000.0","20,309.0","28,467.0","53,111.0","97,193.0","140,000.0","200,138.0","206,190.0","237,119.0","257,596.0","288,662.0","337,061.0","350,061.0","347,917.0","349,296.0","307,708.0","305,456.0","334,792.0","332,208.0","337,791.0"
Belarus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,324.0,"1,724.0","5,897.0","6,548.0","8,167.0","12,155.0","23,457.0","49,353.0","138,329.0","462,630.0","1,118,000.0","2,239,287.0","4,099,500.0","5,960,000.0","6,960,000.0","8,128,000.0","9,686,200.0","10,332,900.0","10,694,900.0","10,676,471.0","11,114,440.0","11,401,927.0","11,448,281.0","11,439,866.0","11,415,141.0"
Belgium,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"3,798.0","7,223.0","19,154.0","30,791.0","42,880.0","51,420.0","61,460.0","67,771.0","128,071.0","235,258.0","478,172.0","974,494.0","1,756,287.0","3,186,602.0","5,629,000.0","7,697,000.0","8,101,777.0","8,605,834.0","9,131,705.0","9,604,695.0","9,847,375.0","10,738,121.0","11,341,704.0","11,775,240.0","12,154,041.0","12,495,934.0","12,313,375.0","12,315,217.0","12,734,724.0","12,774,090.0","12,550,821.0","11,961,089.0"
Belize,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,400.0,832.0,"1,547.0","2,184.0","2,544.0","3,535.0","6,591.0","16,812.0","39,155.0","51,729.0","60,403.0","75,000.0","96,000.0","118,000.0","118,314.0","160,032.0","161,783.0","194,201.0","222,407.0","172,423.0","174,615.0","172,300.0","211,946.0","227,000.0",nan
Benin,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"1,050.0","2,707.0","4,295.0","6,286.0","7,269.0","55,476.0","125,000.0","218,770.0","236,175.0","459,322.0","596,267.0","1,055,727.0","2,051,776.0","3,625,366.0","5,033,349.0","7,074,914.0","7,765,206.0","8,407,846.0","9,627,447.0","8,660,432.0","9,317,955.0","8,892,490.0","8,773,044.0"
Bhutan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"2,255.0","19,138.0","36,000.0","82,078.0","149,439.0","253,429.0","338,938.0","394,316.0","484,189.0","560,890.0","544,337.0","624,536.0","675,747.0","698,373.0","730,623.0"
Bolivia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,295.0,"1,551.0","2,659.0","4,056.0","7,229.0","33,400.0","118,433.0","239,272.0","420,344.0","582,620.0","779,917.0","1,023,333.0","1,278,844.0","1,800,789.0","2,421,402.0","2,876,143.0","3,254,410.0","5,038,600.0","6,464,390.0","7,179,293.0","8,353,273.0","9,493,207.0","10,425,704.0","10,450,341.0","10,162,829.0","10,106,216.0","10,963,224.0"
Bosnia and Herzegovina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"1,500.0","9,000.0","25,181.0","52,607.0","93,386.0","444,711.0","748,780.0","1,074,790.0","1,407,441.0","1,594,367.0","1,887,820.0","2,450,425.0","3,179,036.0","3,257,239.0","3,110,233.0","3,171,283.0","3,357,541.0","3,488,319.0","3,491,188.0","3,443,520.0","3,404,043.0","3,440,085.0"
Botswana,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"15,190.0","92,000.0","222,190.0","332,264.0","332,264.0","444,978.0","522,840.0","563,782.0","823,070.0","1,151,761.0","1,485,791.0","1,874,101.0","2,363,411.0","2,900,263.0","3,081,726.0","3,246,787.0","3,410,507.0","3,475,327.0","3,288,986.0","3,240,589.0"
Brazil,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,667.0,"6,700.0","32,000.0","182,000.0","574,009.0","1,285,533.0","2,498,154.0","4,550,000.0","7,368,218.0","15,032,698.0","23,188,171.0","28,745,769.0","34,880,964.0","46,373,266.0","65,605,000.0","86,210,336.0","99,918,621.0","120,980,103.0","150,641,403.0","169,385,584.0","196,929,978.0","234,357,507.0","248,323,703.0","271,099,799.0","280,728,796.0","257,814,274.0","244,067,356.0","236,488,548.0"
Brunei,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nan,"1,772.0","3,025.0","4,103.0","8,304.0","15,623.0","35,881.0","43,524.0","45,000.0","49,129.0","66,000.0","95,000.0","143,004.0","153,647.0","177,365.0","202,454.0","232,900.0","301,400.0","366,138.0","398,857.0","412,882.0","435,104.0","443,161.0","469,740.0","468,814.0","452,054.0","463,384.0","523,453.0","544,732.0"
Bulgaria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"1,000.0","6,500.0","20,920.0","26,588.0","70,000.0","127,000.0","350,000.0","738,000.0","1,550,000.0","2,597,548.0","3,500,869.0","4,729,731.0","6,244,922.0","8,253,416.0","9,897,477.0","10,429,012.0","10,454,822.0","10,199,942.0","10,475,083.0","10,780,732.0","10,486,824.0","9,486,927.0","9,194,633.0","8,973,869.0","8,532,908.0"
Burkina Faso,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,525.0,"1,503.0","2,730.0","5,036.0","25,245.0","76,186.0","111,013.0","238,094.0","395,939.0","633,554.0","1,016,605.0","1,858,038.0","3,024,150.0","3,823,625.0","5,707,850.0","7,682,100.0","9,976,105.0","11,240,886.0","12,494,391.0","14,446,897.0","15,404,040.0","17,946,375.0"
Burundi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,353.0,378.0,564.0,561.0,619.0,620.0,800.0,"16,320.0","33,416.0","52,000.0","64,000.0","100,560.0","153,000.0","200,000.0","270,000.0","480,584.0","920,749.0","1,678,029.0","1,914,586.0","2,247,126.0","2,536,831.0","3,193,257.0","4,997,696.0","5,357,816.0","5,920,612.0"
Cambodia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"4,810.0","10,239.0","14,100.0","23,098.0","33,556.0","61,345.0","89,117.0","130,547.0","223,458.0","380,000.0","498,388.0","861,500.0","1,062,000.0","1,721,650.0","2,583,318.0","4,237,000.0","6,268,000.0","8,150,764.0","13,757,000.0","19,105,115.0","20,264,514.0","20,451,982.0","20,850,543.0","19,915,503.0","18,572,973.0"
Cameroon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"1,600.0","2,800.0","3,500.0","4,200.0","5,000.0","6,000.0","103,279.0","417,295.0","701,507.0","1,077,000.0","1,530,868.0","2,252,508.0","3,135,946.0","4,536,000.0","6,160,893.0","8,004,120.0","8,636,652.0","10,486,614.0","13,108,058.0","15,664,666.0","17,039,059.0","18,160,667.0","18,717,503.0","19,706,027.0"
Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"12,000.0","60,000.0","98,364.0","202,633.0","345,178.0","583,766.0","775,831.0","1,026,611.0","1,332,982.0","1,865,779.0","2,589,780.0","3,497,779.0","4,195,000.0","5,346,000.0","6,911,038.0","8,727,000.0","10,649,000.0","11,872,000.0","13,291,000.0","15,020,000.0","17,016,600.0","18,749,100.0","20,277,400.0","22,092,500.0","23,811,900.0","25,825,400.0","26,840,000.0","27,720,000.0","28,360,000.0","28,789,000.0","29,765,000.0","30,752,000.0","31,458,600.0"
Cape Verde,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,"1,020.0","8,068.0","19,729.0","31,507.0","42,949.0","53,342.0","65,780.0","81,721.0","108,858.0","152,212.0","277,670.0","290,621.0","371,871.0","396,429.0","425,310.0","499,458.0","613,378.0","611,468.0","601,956.0","612,259.0"
Central African Republic,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44.0,"1,071.0","1,370.0","1,633.0","4,162.0","4,967.0","11,000.0","12,600.0","40,000.0","60,000.0","100,000.0","110,000.0","340,000.0","570,000.0","863,641.0","979,232.0","992,444.0","1,143,114.0","1,360,300.0","1,155,620.0","1,242,494.0","1,248,346.0",nan
Chad,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"5,500.0","22,000.0","34,200.0","65,000.0","123,000.0","210,000.0","466,088.0","918,356.0","1,600,000.0","2,281,320.0","2,875,304.0","3,665,661.0","4,402,282.0","4,561,243.0","5,251,560.0","5,465,797.0","5,585,709.0",nan
Chile,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"4,886.0","13,921.0","36,136.0","64,438.0","85,186.0","115,691.0","197,314.0","319,474.0","409,740.0","964,248.0","2,260,687.0","3,401,525.0","5,100,783.0","6,244,310.0","7,268,281.0","9,261,385.0","10,569,572.0","12,450,801.0","13,955,202.0","14,796,593.0","16,450,223.0","19,852,242.0","22,315,248.0","23,940,973.0","23,661,339.0","23,680,718.0","23,206,353.0","23,302,603.0","23,013,147.0"
China,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,700.0,"3,227.0","9,805.0","18,319.0","47,544.0","176,943.0","638,000.0","1,568,000.0","3,629,000.0","6,853,000.0","13,233,000.0","23,863,000.0","43,296,000.0","85,260,000.0","144,820,000.0","206,005,000.0","269,953,000.0","334,824,000.0","393,406,000.0","461,058,000.0","547,306,000.0","641,245,000.0","747,214,000.0","859,003,000.0","986,253,000.0","1,112,155,000.0","1,229,113,000.0","1,286,093,000.0","1,291,984,200.0","1,364,934,000.0","1,474,097,000.0"
Colombia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"86,805.0","274,590.0","522,857.0","1,264,763.0","1,800,229.0","1,966,535.0","2,256,801.0","3,265,261.0","4,596,594.0","6,186,206.0","10,400,578.0","21,849,993.0","29,762,715.0","33,941,118.0","41,364,753.0","42,159,613.0","44,477,653.0","46,200,421.0","49,066,359.0","50,295,114.0","55,330,272.0","57,327,470.0","58,684,924.0","62,222,011.0"
Comoros,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"2,000.0","8,378.0","15,523.0","36,877.0","62,104.0","91,741.0","122,596.0","165,278.0","216,438.0","283,511.0","347,500.0","383,000.0","424,786.0","454,389.0","446,868.0"
"Congo, Dem. Rep.",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nan,nan,nan,"8,500.0","7,200.0","8,900.0","10,000.0","12,000.0","15,000.0","150,000.0","560,000.0","1,246,225.0","1,990,722.0","2,746,094.0","4,415,470.0","6,592,000.0","9,937,622.0","9,458,557.0","11,820,348.0","15,644,877.0","20,092,678.0","28,231,900.0","37,102,958.0","37,752,782.0","28,889,317.0","35,270,156.0"
"Congo, Rep.",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"1,000.0",nan,"3,390.0","5,000.0","70,000.0","150,000.0","221,800.0","330,000.0","383,653.0","558,192.0","917,499.0","1,287,631.0","1,807,000.0","2,948,304.0","3,718,748.0","3,884,757.0","4,283,134.0","4,659,762.0","4,930,100.0","5,216,000.0","5,424,000.0","5,056,000.0"
Costa Rica,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"3,008.0","4,533.0","6,985.0","18,750.0","46,531.0","64,387.0","108,770.0","138,178.0","211,614.0","326,944.0","502,478.0","778,299.0","923,084.0","1,101,305.0","1,443,717.0","1,508,219.0","1,886,570.0","1,950,318.0","3,128,372.0","4,153,067.0","5,378,082.0","7,111,981.0","7,020,412.0","7,535,599.0","8,330,664.0","8,840,342.0"
Cote d'Ivoire,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"13,549.0","36,000.0","91,212.0","257,134.0","472,952.0","728,545.0","1,027,058.0","1,280,696.0","1,674,332.0","2,349,439.0","4,065,421.0","7,467,708.0","10,449,036.0","13,184,308.0","15,599,044.0","17,344,242.0","18,099,532.0","19,390,902.0","22,104,575.0","25,407,610.0","27,451,250.0","31,747,233.0"
Croatia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,240.0,"2,019.0","6,320.0","11,382.0","21,664.0","33,688.0","64,943.0","120,420.0","182,500.0","295,000.0","1,033,000.0","1,755,000.0","2,312,600.0","2,537,300.0","2,835,500.0","3,649,700.0","4,395,200.0","5,034,582.0","4,554,777.0","4,675,017.0","4,928,352.0","5,115,140.0","4,971,351.0","4,721,015.0","4,461,352.0","4,415,660.0","4,414,347.0","4,315,580.0"
Cuba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,234.0,500.0,"1,152.0","1,939.0","2,427.0","2,994.0","4,056.0","5,136.0","6,536.0","8,579.0","17,851.0","35,356.0","75,797.0","135,534.0","152,715.0","198,252.0","331,736.0","621,156.0","1,003,015.0","1,315,141.0","1,681,645.0","1,995,698.0","2,530,752.0","3,335,346.0","3,987,900.0","4,613,782.0"
Cyprus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,168.0,"1,348.0","3,156.0","5,131.0","9,739.0","15,288.0","22,938.0","44,453.0","70,781.0","91,968.0","116,429.0","151,649.0","218,324.0","314,355.0","417,933.0","551,752.0","658,234.0","782,503.0","867,785.0","988,312.0","1,016,739.0","977,521.0","1,034,071.0","1,090,944.0","1,110,935.0","1,099,621.0","1,110,802.0","1,111,123.0","1,133,780.0","1,176,801.0"
Czech Republic,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"1,242.0","4,651.0","14,043.0","30,429.0","48,900.0","200,315.0","526,339.0","965,476.0","1,944,553.0","4,346,009.0","6,947,151.0","8,610,177.0","9,708,683.0","10,782,567.0","11,775,878.0","12,406,199.0","13,228,631.0","13,780,165.0","13,062,617.0","12,934,100.0","13,167,700.0","13,521,900.0","13,719,300.0","13,913,100.0","12,454,575.008","12,485,045.0","12,634,937.0"
Denmark,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"7,200.0","16,100.0","30,600.0","46,100.0","57,604.0","77,432.0","101,479.0","123,792.0","148,220.0","175,943.0","211,063.0","357,589.0","503,500.0","822,264.0","1,316,592.0","1,444,016.0","1,931,101.0","2,628,585.0","3,363,552.0","3,960,165.0","4,477,752.0","4,767,100.0","5,166,912.0","5,449,206.0","5,828,157.0","6,308,000.0","6,556,988.0","6,833,683.0","6,420,790.0","7,173,185.0","7,292,756.0","7,031,152.0","7,160,233.0","7,079,249.0","6,985,035.0","6,978,348.0"

#### OPTIONAL BONUS QUESTION!

Sort these 5 countries, by biggest increase in cell phones from 2007 to 2017.

Which country had 935,282,277 more cell phones in 2017 versus 2007?

In [0]:
descripts_df = (final2.groupby('product_name')
                  .order_hour_of_day.agg(['mean', 'count']))

If you have the time and curiosity, what other questions can you ask and answer with this data?