<a href="https://colab.research.google.com/github/Hira63S/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/Hira_DS_Unit_1_Sprint_Challenge_2_Data_Wrangling_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Data Wrangling

In this Sprint Challenge you will use data from [Gapminder](https://www.gapminder.org/about-gapminder/), a Swedish non-profit co-founded by Hans Rosling. "Gapminder produces free teaching resources making the world understandable based on reliable statistics."
- [Cell phones (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv)
- [Population (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv)
- [Geo country codes](https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv)

These two links have everything you need to successfully complete the Sprint Challenge!
- [Pandas documentation: Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/text.html]) (one question)
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) (everything else)

## Part 0. Load data

You don't need to add or change anything here. Just run this cell and it loads the data for you, into three dataframes.

In [0]:
import pandas as pd

cell_phones = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv')

population = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv')

geo_country_codes = (pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')
                       .rename(columns={'country': 'geo', 'name': 'country'}))

## Part 1. Join data

First, join the `cell_phones` and `population` dataframes (with an inner join on `geo` and `time`).

The resulting dataframe's shape should be: (8590, 4)

In [46]:
cell_phones.head()

   geo  time  cell_phones_total
0  abw  1960                0.0
1  abw  1965                0.0
2  abw  1970                0.0
3  abw  1975                0.0
4  abw  1976                0.0

In [47]:
population.head(5)

   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000
3  afg  1803           3280000
4  afg  1804           3280000

In [0]:
geo_country_codes.head

In [0]:
Cell_population = pd.merge(cell_phones, population, how ='inner')

In [50]:
Cell_population.shape

(8590, 4)

Then, select the `geo` and `country` columns from the `geo_country_codes` dataframe, and join with your population and cell phone data.

The resulting dataframe's shape should be: (8590, 5)

In [0]:
total_cell = pd.merge(Cell_population, geo_country_codes[['geo', 'country']])

In [52]:
total_cell.shape

(8590, 5)

In [53]:
total_cell.head(5)

   geo  time  cell_phones_total  population_total      country
0  afg  1960                0.0           8996351  Afghanistan
1  afg  1965                0.0           9938414  Afghanistan
2  afg  1970                0.0          11126123  Afghanistan
3  afg  1975                0.0          12590286  Afghanistan
4  afg  1976                0.0          12840299  Afghanistan

## Part 2. Make features

Calculate the number of cell phones per person, and add this column onto your dataframe.

(You've calculated correctly if you get 1.220 cell phones per person in the United States in 2017.)

In [0]:
total_cell['country'].value_counts()

In [0]:
total_cell.sort_values(by = ['cell_phones_total', 'country'])

In [0]:
total_cell['Cell phones per person'] = total_cell['cell_phones_total'] / total_cell['population_total']

In [84]:
total_cell['Cell phones per person'].head().astype(int)

0    0
1    0
2    0
3    0
4    0
Name: Cell phones per person, dtype: int64

In [0]:
total_cell[total_cell['country'].str.startswith('United States')] #to check if I got it right

YAYYY! I got it right!

**Modification**
Modify the `geo` column to make the geo codes uppercase instead of lowercase.

In [0]:
total_cell['geo'] = total_cell['geo'].str.upper()

#find.head()

In [60]:
total_cell.head()

,geo,time,cell_phones_total,population_total,country,Cell phones per person
0,AFG,1960,0.0,8996351,Afghanistan,0.0
1,AFG,1965,0.0,9938414,Afghanistan,0.0
2,AFG,1970,0.0,11126123,Afghanistan,0.0
3,AFG,1975,0.0,12590286,Afghanistan,0.0
4,AFG,1976,0.0,12840299,Afghanistan,0.0

I can't believe I tried to use a map and apply function here!

## Part 3. Process data

Use the describe function, to describe your dataframe's numeric columns, and then its non-numeric columns.

(You'll see the time period ranges from 1960 to 2017, and there are 195 unique countries represented.)

In [61]:
import numpy as np

total_cell.describe(exclude = [np.object])

,time,cell_phones_total,population_total,Cell phones per person
count,8590.000000,8.590000e+03,8.590000e+03,8590.000000
mean,1994.193481,9.004950e+06,2.983823e+07,0.279639
std,14.257975,5.573408e+07,1.161284e+08,0.454247
min,1960.000000,0.000000e+00,4.433000e+03,0.000000
25%,1983.000000,0.000000e+00,1.456148e+06,0.000000
50%,1995.000000,6.200000e+03,5.725062e+06,0.001564
75%,2006.000000,1.697652e+06,1.810581e+07,0.461149
max,2017.000000,1.474097e+09,1.409517e+09,2.490243

In [62]:
total_cell.describe(exclude=[np.number])

         geo  country
count   8590     8590
unique   195      195
top      KGZ  Georgia
freq      46       46

I believe I have this right but I don't exactly know how else to describe it except the exlcude parameter

###top 5 countries###
In 2017, what were the top 5 countries with the most cell phones total?

Your list of countries should have these totals:

| country | cell phones total |
|:-------:|:-----------------:|
|    ?    |     1,474,097,000 |
|    ?    |     1,168,902,277 |
|    ?    |       458,923,202 |
|    ?    |       395,881,000 |
|    ?    |       236,488,548 |

So, we have one condition with only year 2017 and then we have the cell phones total.
Only need to extract the country names!
I will make a subset

In [0]:
condition = (total_cell['time'] == 2017) & (total_cell['cell_phones_total'] >=236488548)

In [0]:
columns = ['time',
          'country',
          'cell_phones_total']

In [0]:
subset = total_cell.loc[condition, columns]

In [90]:
subset.head()

      time        country  cell_phones_total
1084  2017         Brazil       2.364885e+08
1496  2017          China       1.474097e+09
3549  2017      Indonesia       4.589232e+08
3595  2017          India       1.168902e+09
8134  2017  United States       3.958810e+08

the following code prints the largest values by the cell_phones_totals but it doesn't take into consideration the year.
I wonder if we can pass a condition and then maybe run these together??

In [0]:
#total_cell['time'] = pd.to_datetime(total_cell['time'])

In [0]:
#total_cell['year'] = total_cell['time'].dt.year

In [69]:
#total_cell['time'].dtypes

dtype('<M8[ns]')

In [0]:
#subset = total_cell.loc[total_cell['time'] == 2017, ['country', 'cell_phones_total', 'time']] #so I have got all the countries with the cellphones in year 2017

In [0]:
subset.nlargest(5, 'cell_phones_total')

I feel like this should have been simpler...but I made it so complicated, I guess I finally did it the 'right' way!!

I know doing it with condition is one way to do it and here it is kind of easy for me because I can pass in two conditions where the year is 2017 and the least number of cellphones is given for the fifth country.
But I want to explore how to get like top 10.

In [0]:
# This optional code formats float numbers with comma separators
total_cell['cell_phones_total'].float_format = '{:,}'.format

In [0]:
subset2 = total_cell.loc[condition, columns]

2017 was the first year that China had more cell phones than people.

What was the first year that the USA had more cell phones than people?

In [0]:
columns = ['time',
          'population_total',
          'cell_phones_total']

In [0]:
total_cell[total_cell.cell_phones_total.gt(total_cell.population_total)]

In [0]:
total_cell[[condition1]]

In [0]:
condition2 = [total_cell['country'] == "United States"]

In [0]:
total_cell = total_cell.loc[condition1, condition2, columns]

2014 was the first year that United States had more cellphones than people. But I found that manually, I don't know why can't I get this code to work.

## Part 4. Reshape data

Create a pivot table:
- Columns: Years 2007â€”2017
- Rows: China, India, United States, Indonesia, Brazil (order doesn't matter)
- Values: Cell Phones Total

The table's shape should be: (5, 11)

We already have a subset for rows.
so countries are index, in columns we are going to pass in the years and values are obviously totals

In [0]:
condition = [(total_cell['time'] >= 2007) & (total_cell['cell_phones_total'] >=236488548)]

In [0]:
years = ['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
        '2016', '2017']

condition = total_cell['time'].isin(years)

In [0]:
subset = total_cell[condition]

In [0]:
country = ['China', 'India', 'United States', 'Indonesia', 'Brazil']

In [0]:
condition2 = total_cell['country'].isin(country)

In [127]:
subset2 = subset[condition2]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [119]:
subset2.head()

,geo,time,cell_phones_total,population_total,country,Cell phones per person
1074,BRA,2007,120980103.0,191026637,Brazil,0.633315
1075,BRA,2008,150641403.0,192979029,Brazil,0.780610
1076,BRA,2009,169385584.0,194895996,Brazil,0.869108
1077,BRA,2010,196929978.0,196796269,Brazil,1.000679
1078,BRA,2011,234357507.0,198686688,Brazil,1.179533

In [0]:
subset2.set_index('country')

In [130]:
subset2.pivot_table(index ='country',
                   columns='time',
                   values='cell_phones_total')

time,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
country,,,,,,,,,,,
Brazil,120980103.0,150641403.0,169385584.0,196929978.0,234357507.0,2.483237e+08,2.710998e+08,2.807288e+08,2.578143e+08,2.440674e+08,2.364885e+08
China,547306000.0,641245000.0,747214000.0,859003000.0,986253000.0,1.112155e+09,1.229113e+09,1.286093e+09,1.291984e+09,1.364934e+09,1.474097e+09
India,233620000.0,346890000.0,525090000.0,752190000.0,893862478.0,8.647209e+08,8.863042e+08,9.440087e+08,1.001056e+09,1.127809e+09,1.168902e+09
Indonesia,93386881.0,140578243.0,163676961.0,211290235.0,249805619.0,2.819637e+08,3.132269e+08,3.255828e+08,3.389483e+08,3.855734e+08,4.589232e+08
United States,249300000.0,261300000.0,274283000.0,285118000.0,297404000.0,3.048380e+08,3.106980e+08,3.555000e+08,3.823070e+08,3.958810e+08,3.958810e+08

AHAA!! I can't believe I finally have this. This was NOT supposed to be that hard ugh so frustrated with how I did it with so much time.

#### OPTIONAL BONUS QUESTION!

Sort these 5 countries, by biggest increase in cell phones from 2007 to 2017.

Which country had 935,282,277 more cell phones in 2017 versus 2007?

In [0]:
df.sort_values(by=['col1', 'col2'])

In [0]:
table = subset2.pivot_table(index ='country',
                   columns='time',
                   values='cell_phones_total')

If you have the time and curiosity, what other questions can you ask and answer with this data?

I would create a heat map showing different countries with number of cellphones increase