_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [2]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-29 14:32:04--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.107.238
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.107.238|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  48.3MB/s    in 4.2s

2019-03-29 14:32:08 (46.4 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [3]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [4]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [5]:
#list all my csv's in order
#are now in that present working csv

!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

## Goal: Reproduce this example

The first two orders for user id 1:

In [6]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [7]:
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [0]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')

In [9]:
aisles.shape

(134, 2)

In [10]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [11]:
display(example)
#aisles doesn't have any columns we need

### departments

In [12]:
department = pd.read_csv('departments.csv')
department

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

In [13]:
department.shape

(21, 2)

In [14]:
display(example)

### order_products__prior

In [0]:
order_products__prior = pd.read_csv('order_products__prior.csv')

In [16]:
order_products__prior.shape

(32434489, 4)

In [17]:
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [18]:
display(example)

In [19]:
order_products__prior.groupby('order_id')['product_id'].count().mean()
#order products_prior has order_id prodcut_id, add_to_cart_order

10.088883421247614

### order_products__train

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')

In [21]:
order_products__train

         order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
5               1       13176                  6          0
6               1       47209                  7          0
7               1       22035                  8          1
8              36       39612                  1          0
9              36       19660                  2          1
10             36       49235                  3          0
11             36       43086                  4          1
12             36       46620                  5          1
13             36       34497                  6          1
14             36       48679                  7          1
15             36       46979                  8          1
16             38       11913                  1          0
17             38       18159                  2          0
18             38        4461                  3          0
19             38       21616                  4          1
20             38       23622                  5          0
21             38       32433                  6          0
22             38       28842                  7          0
23             38       42625                  8          0
24             38       39693                  9          0
25             96       20574                  1          1
26             96       30391                  2          0
27             96       40706                  3          1
28             96       25610                  4          0
29             96       27966                  5          1
...           ...         ...                ...        ...
1384587   3421026       32237                  3          0
1384588   3421026          10                  4          0
1384589   3421026        4493                  5          0
1384590   3421026        7781                  6          0
1384591   3421049       40800                  1          0
1384592   3421049       17706                  2          0
1384593   3421049       33424                  3          1
1384594   3421049       17299                  4          0
1384595   3421049       26800                  5          0
1384596   3421049       34243                  6          0
1384597   3421056        5750                  1          1
1384598   3421056        9340                  2          1
1384599   3421056       21709                  3          1
1384600   3421056       16475                  4          0
1384601   3421056       12432                  5          0
1384602   3421058       15629                  1          1
1384603   3421058        4347                  2          1
1384604   3421058       34466                  3          1
1384605   3421058        6244                  4          1
1384606   3421058        6858                  5          1
1384607   3421058       30316                  6          1
1384608   3421058       35578                  7          0
1384609   3421058       32650                  8          1
1384610   3421063       49235                  1          1
1384611   3421063       13565                  2          1
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns]

In [0]:
#order products prior and order products train have the same exact columns

### orders

In [0]:
orders = pd.read_csv('orders.csv')

In [24]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [0]:
#orders has user_id order_id order_number _order_hour_of day

In [26]:
display(example)

### products

In [0]:
products = pd.read_csv('products.csv')

In [28]:
products

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
5,6,Dry Nose Oil,11,11
6,7,Pure Coconut Water With Orange,98,7
7,8,Cut Russet Potatoes Steam N' Mash,116,1
8,9,Light Strawberry Blueberry Yogurt,120,16
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7
10,11,Peach Mango Juice,31,7
11,12,Chocolate Fudge Layer Cake,119,1
12,13,Saline Nasal Mist,11,11
13,14,Fresh Scent Dishwasher Cleaner,74,17
14,15,Overnight Diapers Size 6,56,18
15,16,Mint Chocolate Flavored Syrup,103,19
16,17,Rendered Duck Fat,35,12
17,18,Pizza for One Suprema Frozen Pizza,79,1
18,19,Gluten Free Quinoa Three Cheese & Mushroom Blend,63,9
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7
20,21,Small & Medium Dental Dog Treats,40,8
21,22,Fresh Breath Oral Rinse Mild Mint,20,11
22,23,Organic Turkey Burgers,49,12
23,24,Tri-Vi-Sol® Vitamins A-C-and D Supplement Drop...,47,11
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19
25,26,Fancy Feast Trout Feast Flaked Wet Cat Food,41,8
26,27,Complete Spring Water Foaming Antibacterial Ha...,127,11
27,28,Wheat Chex Cereal,121,14
28,29,Fresh Cut Golden Sweet No Salt Added Whole Ker...,81,15
29,30,"Three Cheese Ziti, Marinara with Meatballs",38,1
...,...,...,...,...
49658,49659,Organic Creamed Coconut,17,13
49659,49660,Professionals Sleek Shampoo,22,11
49660,49661,Porto,134,5
49661,49662,Bacon Cheddar Pretzel Pieces,107,19
49662,49663,Ultra Protein Power Crunch Peanut Butter N' Ho...,57,14
49663,49664,Lemon Cayenne Drinking Vinegar,100,21
49664,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19
49665,49666,Ginger Snaps Snacking Cookies,61,19
49666,49667,Enchilada with Spanish Rice & Beans Meal,38,1
49667,49668,Apple Cinnamon Scented Candles,101,17
49668,49669,K Cup Dark Blend,100,21
49669,49670,Beef Summer Sausage,106,12
49670,49671,Milk Chocolate Drops,45,19
49671,49672,Cafe Mocha K-Cup Packs,26,7
49672,49673,Stone Baked Multi Grain Artisan Rolls,129,1
49673,49674,Frozen Greek Yogurt Bars Chocolate Chip,37,1
49674,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7
49675,49676,Ultra Red Energy Drink,64,7
49676,49677,Thick & Chunky Sloppy Joe Sauce,59,15
49677,49678,Large Chicken & Cheese Taquitos,129,1
49678,49679,Famous Chocolate Wafers,61,19
49679,49680,All Natural Creamy Caesar Dressing,89,13
49680,49681,Spaghetti with Meatballs and Sauce Meal,38,1
49681,49682,California Limeade,98,7
49682,49683,Cucumber Kirby,83,4
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

## Concatenate order_products__prior and order_products__train

In [0]:
#product has product_id product_name
#when the column has the same rows 
#check the cheatsheet two different types of pd.concat

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])

In [31]:
order_products.shape

(33819106, 4)

In [0]:
#check to see if the rows match 
assert len(order_products) == len(order_products__prior) + len(order_products__train)

In [0]:
#check the columns 
assert(len(order_products.columns) == 
len(order_products__prior.columns) ==
len(order_products__train.columns))

In [34]:
#use shape 
order_products.shape[0]

33819106

In [35]:
order_products.shape[1]

4

In [0]:
#unpack a tuple

rows, columns = order_products.shape

In [37]:
print(rows, columns)

33819106 4

In [38]:
#more readable code
print('Rows:', rows)

Rows: 33819106

In [0]:
assert 2+2 == 4

In [40]:
condition = order_products['order_id'] == 2539329
order_products[condition]

          order_id  product_id  add_to_cart_order  reordered
24076664   2539329         196                  1          0
24076665   2539329       14084                  2          0
24076666   2539329       12427                  3          0
24076667   2539329       26088                  4          0
24076668   2539329       26405                  5          0

## Get a subset of orders — the first two orders for user id 1

In [0]:
# From  orders table
#user_ud
#order_id
#order_number
#order_dow
#order_hour_of_day

In [0]:
condition = (orders['user_id']==1) & (orders['order_number'] <=2)
columns = ['user_id',
            'order_id',
            'order_number',
            'order_dow',
            'order_hour_of_day']

subset = orders.loc[condition, columns]

## Merge dataframes

In [42]:
#merge column the subset from orders from columns from order_products 
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [43]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [0]:
columns = ['order_id', 'add_to_cart_order', 'product_id']
merged = pd.merge(subset,order_products[columns], 
                  how='inner', on='order_id')

In [45]:
subset

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7

In [46]:
order_products

         order_id  product_id  add_to_cart_order  reordered
0               2       33120                  1          1
1               2       28985                  2          1
2               2        9327                  3          0
3               2       45918                  4          1
4               2       30035                  5          0
5               2       17794                  6          1
6               2       40141                  7          1
7               2        1819                  8          1
8               2       43668                  9          0
9               3       33754                  1          1
10              3       24838                  2          1
11              3       17704                  3          1
12              3       21903                  4          1
13              3       17668                  5          1
14              3       46667                  6          1
15              3       17461                  7          1
16              3       32665                  8          1
17              4       46842                  1          0
18              4       26434                  2          1
19              4       39758                  3          1
20              4       27761                  4          1
21              4       10054                  5          1
22              4       21351                  6          1
23              4       22598                  7          1
24              4       34862                  8          1
25              4       40285                  9          1
26              4       17616                 10          1
27              4       25146                 11          1
28              4       32645                 12          1
29              4       41276                 13          1
...           ...         ...                ...        ...
1384587   3421026       32237                  3          0
1384588   3421026          10                  4          0
1384589   3421026        4493                  5          0
1384590   3421026        7781                  6          0
1384591   3421049       40800                  1          0
1384592   3421049       17706                  2          0
1384593   3421049       33424                  3          1
1384594   3421049       17299                  4          0
1384595   3421049       26800                  5          0
1384596   3421049       34243                  6          0
1384597   3421056        5750                  1          1
1384598   3421056        9340                  2          1
1384599   3421056       21709                  3          1
1384600   3421056       16475                  4          0
1384601   3421056       12432                  5          0
1384602   3421058       15629                  1          1
1384603   3421058        4347                  2          1
1384604   3421058       34466                  3          1
1384605   3421058        6244                  4          1
1384606   3421058        6858                  5          1
1384607   3421058       30316                  6          1
1384608   3421058       35578                  7          0
1384609   3421058       32650                  8          1
1384610   3421063       49235                  1          1
1384611   3421063       13565                  2          1
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[33819106 rows x 4 columns]

In [47]:
merged

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id
0,1,2539329,1,2,8,1,196
1,1,2539329,1,2,8,2,14084
2,1,2539329,1,2,8,3,12427
3,1,2539329,1,2,8,4,26088
4,1,2539329,1,2,8,5,26405
5,1,2398795,2,3,7,1,196
6,1,2398795,2,3,7,2,10258
7,1,2398795,2,3,7,3,12427
8,1,2398795,2,3,7,4,13176
9,1,2398795,2,3,7,5,26088
10,1,2398795,2,3,7,6,13032

In [48]:
#Steps, Select merge and products AS P  FROM P.PRODUCTID, P.PRODUCT NAME
final = pd.merge(merged,products[['product_id', 'product_name']])
final

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id,product_name
0,1,2539329,1,2,8,1,196,Soda
1,1,2398795,2,3,7,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
8,1,2398795,2,3,7,2,10258,Pistachios
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

In [49]:
final

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id,product_name
0,1,2539329,1,2,8,1,196,Soda
1,1,2398795,2,3,7,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
8,1,2398795,2,3,7,2,10258,Pistachios
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

In [50]:
final.sort_values(by=['order_number', 'add_to_cart_order'])

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id,product_name
0,1,2539329,1,2,8,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
1,1,2398795,2,3,7,1,196,Soda
8,1,2398795,2,3,7,2,10258,Pistachios
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

In [0]:
final.columns = [column.replace('_', ' ') for column in final]

In [52]:
final_product_name = final['product name'].value_counts()
final_product_name.head()

Original Beef Jerky                 2
Soda                                2
Aged White Cheddar Popcorn          2
XL Pick-A-Size Paper Towel Rolls    1
Pistachios                          1
Name: product name, dtype: int64

In [53]:
final.sort_values(by=['order number', 'product name'])

,user id,order id,order number,order dow,order hour of day,add to cart order,product id,product name
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
0,1,2539329,1,2,8,1,196,Soda
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
8,1,2398795,2,3,7,2,10258,Pistachios
1,1,2398795,2,3,7,1,196,Soda

In [56]:
final.head()

,user id,order id,order number,order dow,order hour of day,add to cart order,product id,product name
0,1,2539329,1,2,8,1,196,Soda
1,1,2398795,2,3,7,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
4,1,2398795,2,3,7,3,12427,Original Beef Jerky

In [57]:
final.head()

,user id,order id,order number,order dow,order hour of day,add to cart order,product id,product name
0,1,2539329,1,2,8,1,196,Soda
1,1,2398795,2,3,7,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
4,1,2398795,2,3,7,3,12427,Original Beef Jerky

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [58]:
orders = pd.read_csv('orders.csv')
orders.head(5)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [59]:
products = pd.read_csv('products.csv')
products.head(5)

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [60]:
order_products__prior.head(5)
O_Product = pd.merge(orders, products[[p]])

NameError: ignored

In [0]:
final = pd.merge(merged,products[['product_id', 'product_name']],
                how='inner', on='product_id')

In [0]:
order_products__prior

In [0]:
order_products__train

In [0]:
products

In [0]:
orders.head(1)

In [0]:
products.head(1)

In [0]:
order_products__prior.head(1)

In [0]:
products.product_name.value_counts().

In [0]:
Assignment = pd.merge(products, order_products__prior[['product_id', 'add_to_cart_order']],
                how='inner', on='product_id')

In [0]:
Product_greatest_to_least =Assignment.groupby('product_name')['add_to_cart_order'].count()

In [0]:
Product_Count = Product_greatest_to_least.sort_values(ascending=False)

In [70]:
Product_Count

product_name
Banana                                                                                                                472565
Bag of Organic Bananas                                                                                                379450
Organic Strawberries                                                                                                  264683
Organic Baby Spinach                                                                                                  241921
Organic Hass Avocado                                                                                                  213584
Organic Avocado                                                                                                       176815
Large Lemon                                                                                                           152657
Strawberries                                                                                                          142951
Limes                                                                                                                 140627
Organic Whole Milk                                                                                                    137905
Organic Raspberries                                                                                                   137057
Organic Yellow Onion                                                                                                  113426
Organic Garlic                                                                                                        109778
Organic Zucchini                                                                                                      104823
Organic Blueberries                                                                                                   100060
Cucumber Kirby                                                                                                         97315
Organic Fuji Apple                                                                                                     89632
Organic Lemon                                                                                                          87746
Apple Honeycrisp Organic                                                                                               85020
Organic Grape Tomatoes                                                                                                 84255
Seedless Red Grapes                                                                                                    82689
Organic Cucumber                                                                                                       80392
Honeycrisp Apple                                                                                                       79769
Organic Baby Carrots                                                                                                   76896
Organic Half & Half                                                                                                    76360
Sparkling Water Grapefruit                                                                                             75886
Organic Large Extra Fancy Fuji Apple                                                                                   75165
Yellow Onions                                                                                                          73167
Organic Gala Apples                                                                                                    72846
Organic Baby Arugula                                                                                                   72829
                                                                                                                       ...
Petite Black Eyed Peas                                                                                                     1
All Natural Stevia Liquid Extract Sweetener                                                                                1
Freshmatic Ultra Automatic Spray Refill, Vanilla Passion                                                                   1
Smooth & Silky Head and Shoulders Smooth & Silky 2-in-1 Dandruff Shampoo + Conditioner 13.5 Fl Oz Female Hair Care         1
Cajun Sides Dirty Rice                                                                                                     1
Frittata, Farmer's Market                                                                                                  1
Escapes Variety Pack                                                                                                       1
Orangemint Flavored Water                                                                                                  1
Indoor Purna Bynd Gf                                                                                                       1
Hennepin Farmhouse Ale                                                                                                     1
Peas Pulav Basmati Rice With Green Peas                                                                                    1
Lindor Peppermint White Chocolate Truffles                                                                                 1
Greek Pitted Kalamata Olives                                                                                               1
Strawberry Energy Gel                                                                                                      1
Deep Clean Cleanser & Mask                                                                                                 1
Anarchy For Her Daily Fragrance                                                                                            1
Coconut Bliss Pineapple Coconut                                                                                            1
Bite Size Caramel Chocolates                                                                                               1
Sleep Aid, Calms Forte, Tablets                                                                                            1
Raspberry Blast Fruit and Chia Seed Bar                                                                                    1
11.3 Oz. Oreo Fudge Creme Double Chocolate                                                                                 1
Fig Balsamic Vinegar                                                                                                       1
Blueberry Blast Fruit and Chia Seed Bar                                                                                    1
Cinnamon Rice Pudding Snacks                                                                                               1
Organic Finely Shredded Sharp Cheddar Cheese                                                                               1
Lndbrg White Quinoa 16 Z                                                                                                   1
Homestlye Cornbread Stuffing                                                                                               1
Indoor & Outdoor Allergies, Allergy & Congestion, 24 Hour, Extended Release Tablets                                        1
Orange Recharge                                                                                                            1
Vitamin D Gummies                                                                                                          1
Name: add_to_cart_order, Length: 49677, dtype: int64